.fun-fact-container {
    background-image: url('../../../images/bg-image.jpg');
    height: 400px;
}

img {
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .fun-fact-container {

        height: 850px;
    }

}